<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="journal-list">
            % for bundle in journal_info.get('journal_bundles'):
            <li class="courses-listing-item">
              <%include file="../journals/bundle_card.html" args="bundle=bundle" />
            </li>
            % endfor
          </ul>
          <ul class="journal-list">
            %for journal in journal_info.get('journals'):
            <li class="courses-listing-item">
              <%include file="../journals/journal_card.html" args="journal=journal" />
            </li>
            %endfor
          </ul>
          <ul class="courses-listing courses-list">
            %for course in courses:
            <li class="courses-listing-item">
              <%include file="../course.html" args="course=course" />
            </li>
            %endfor



<li class="courses-listing-item">
 <article class="course" id="course-expert-matter" role="region" aria-label="SUBJECT MATTER EXPERTS" style="height : 300px">
  <a href="http://dekodr.co.id/pbs/">
    <header class="course-image">
      <div class="cover-image">
        <img src="/static/lagunita/images/static-course.jpeg" alt="SUBJECT MATTER EXPERRT" />
        <div class="learn-more" aria-hidden="true">LEARN MORE</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">PBS</span>
        <span class="course-code"></span>
        <span class="course-title">SUBJECT MATTER EXPERTS</span>
      </h2>
    </div>
  </a>
</article>
</li>


          </ul>
        </div>


        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

      </section>
    </section>
</main>

<script type="text/javascript">
$(document).ready(function(){

function get_cookie (cookie_name){
  var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' );

  if (results)
    return (unescape(results[2]));
  else
    return null;
}

var username = get_cookie('edx-user-info');
username = username.replace('"', '');
username = username.split(":");
username = username[1];
username = username.split("\\");
username = username[1];
username = username.replace('"', '');

console.log(username);

var _courseData = ['PBS001','PBS002','PBS003','PBS004','PBS005','PBS006','PBS007','PBS008','PBS009','PBS010','PBS011','PBS012'];
var _apiData = {
  "data": [
    {
      "course_id": "course-v1:PBS+PBS001+2020_T1",
      "grade" : 5.0,
      "max_grade" : 5.0
    },
    {
      "course_id": "course-v1:PBS+PBS002+2020_T1",
      "grade" : 3.0,
      "max_grade" : 5.0
    },
    {
      "course_id": "course-v1:PBS+PBS003+2020_T1",
      "grade" : 4.0,
      "max_grade" : 5.0
    }
]};

var data = "";

function check_api(_id){ 
    var data = _apiData.data;
    
    for(x=0;x<data.length;x++){
       id = data[x].course_id;
       id = id.search(_id);

       if(id>0){ 
           if(data[x].grade == data[x].max_grade) return "taken-passed";
	   else return "taken-not-passed"; 
       }
    }

    return "not-taken";
}

function disable_course(){
    for(i=0;i<=_courseData.length;i++){

        id_before = _courseData[i]; //"PBS00" + i;
        my_id = _courseData[i] //"PBS00" + i;
	course_status = check_api(id_before);

	//if(i>0){
	    if(course_status == "taken-passed"){
	        _text = "Anda sudah lulus";
	        _background = "#25700f";
	    }
	    else if(course_status == "taken-not-passed"){
                _text = "Anda belum lulus";
	        _background = "#c29629";
	    }
	    else if(course_status == "not-taken"){
	        _text = "Anda belum menyelesaikan modul ini";
	        _background = "#4d4c4a";
	    }
    	//}


	if(course_status != "taken-passed"){
	    id_next = _courseData[(i + 1)]; //"PBS00" + (i + 1);
 
	    _thisStatus = check_api(id_next);
	    console.log(_thisStatus);
            if(_thisStatus == "not-taken"){
                $("#" + id_next).removeAttr("href");
                $("#" + id_next).parent().css({"opacity":"0.3"});
	    }        
        }
	
	//if(i>0)
	    $("#" + my_id).parent().append('<span class="status" style="padding: 10px; font-size: 13px; background: ' + _background + '; position : absolute; top: 1px; right: 1px; color: rgb(255, 255, 255); width : 100px; font-weight : bold; text-align : center">' + _text + '</span>');
    }
}

$.get("https://api.lpkprioritybankingschool.com/course/" + username, function(data){
   console.log(data);
   _apiData = data;
   disable_course();
   $("#screen-blocker").fadeOut();
});
});
</script>

<div id="screen-blocker" style="display : none; position : fixed; top : 0px; left : 0px;  width : 100%; height : 100%; background-color : #fff; opacity : 0.5; z-index : 999999"></div>
