<%page expression_filter="h" args="bookmark_id, is_bookmarked" />

<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<!--
<div class="bookmark-button-wrapper">
  <button class="btn btn-link bookmark-button ${"bookmarked" if is_bookmarked else ""}"
    aria-pressed="${"true" if is_bookmarked else "false"}"
    data-bookmark-id="${bookmark_id}"
    data-bookmarks-api-url="${reverse('bookmarks')}">
     <span class="bookmark-text">${_("Bookmarked") if is_bookmarked else _("Bookmark this page")}</span>
    </button>
</div>
-->
