<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<section class="courses-container">
  <section class="highlighted-courses">

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="courses">
        <ul class="journal-list">
          % for bundle in journal_info.get('journal_bundles'):
          <li class="courses-listing-item">
            <%include file="journals/bundle_card.html" args="bundle=bundle"/>
          </li>
          % endfor
        </ul>
        <ul class="journal-list">
          %for journal in journal_info.get('journals'):
          <li class="courses-listing-item">
              <%include file="journals/journal_card.html" args="journal=journal" />
          </li>
          %endfor
        </ul>
        <ul class="courses-listing">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses[:homepage_course_max]:
          <li class="courses-listing-item">
              <%include file="course.html" args="course=course" />
          </li>
        %endfor


<li class="courses-listing-item">
 <article class="course" id="course-expert-matter" role="region" aria-label="SUBJECT MATTER EXPERTS" style="height : 300px">
  <a href="http://dekodr.co.id/pbs/">
    <header class="course-image">
      <div class="cover-image">
        <img src="/static/lagunita/images/static-course.jpeg" alt="SUBJECT MATTER EXPERRT" />
        <div class="learn-more" aria-hidden="true">LEARN MORE</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">PBS</span>
        <span class="course-code"></span>
        <span class="course-title">SUBJECT MATTER EXPERTS</span>
      </h2>
    </div>
  </a>
</article>
</li>


        </ul>
      </section>
    ## in case there are courses that are not shown on the homepage, a 'View all Courses' link should appear
      % if homepage_course_max and len(courses) > homepage_course_max:
      <div class="courses-more">
        <a class="courses-more-cta" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
      </div>
    % endif
    % endif

  </section>
</section>

